a{
	text-decoration: none;
	color: red;
	font-family: 'Inconsolata';
    padding-top: 7px;
}
h1	{
	font-family: 'Inconsolata';
	text-align: center;
	padding: 10px;

}

.lists{
	background: #d5f9f9;
}
p{
	text-align: center;
	padding: 7px;
}